{% extends "layouts/layout.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div>
    <table border = 0 style="float: left">
        <tr>
            <th>Gallery</th>
        </tr>

        {% for image in inventory %}
            <tr>
                <td>
                    <form action="/purchase" method="post">
                        <input type="hidden" name="src" id="src" value={{image["src"]}}>
                        <button type="submit">
                            <img src='{{image["src"]}}' style="width:300px; height:300px;"/>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <table border = 0 style="float: left" width="300px">
        <tr>
            <th>Purchases</th>
        </tr>
        {% for image in purchases %}
            <tr>
                <td><img src='{{image["src"]}}' style="width:300px; height:300px;" /></td>
            </tr>
        {% endfor %}
    </table>

    <table border = 0 style="float: left" width="300px">
        <tr>
            <th>Sold</th>
        </tr>
        {% for image in sold %}
            <tr>
                <td><img src='{{image["src"]}}' style="width:300px; height:300px;" /></td>
            </tr>
        {% endfor %}
    </table>

    <table border = 0 style="float: left">
        <tr>
            <th>Total Spent</th>
        </tr>
        <tr>
            <td>${{ total_spent }}</td>
        </tr>
    </table>

    <form action="/">
        <input type="file" name="pic" accept="image/*">
        <input type="submit" value="Sell">
    </form>
</div>
{% endblock %}
